.advantages {
  width: 100%;
}

.advantages__second-list {
  background-color: #EEEEEE;
  @include clear-list;
  padding: 10px 0 0;
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include desktop {
    padding: 21px 0 10px;
  }
}

.advantages__item--color .advantages__text-block {
  @include tablet {

  }
}


.advantages__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}

.advantages__number {
  display: block;
  margin: 11px 0 17px;
}

.advantages__item-big {
  @include tablet {
    display: flex;
  }
}

.advantages__item--color:first-child .advantages__text-block,
.advantages__item--color:nth-child(3) .advantages__text-block {
  padding: 43px 33px 63px;
}

.advantages__item--color:nth-child(2) .advantages__text-block {
  padding: 41px 33px;
}

.advantages__text-block {
 padding: 33px 18px 40px;
  text-align: center;
}



.advantages__text-block--color {
  background-color: #81B3D2;
  color: #FFFFFF;
  @include tablet {
    height: 256px;
    padding: 52px 33px 31px 33px;
  }
}
.advantages__img {
  width: 100%;
  height: 100%;
  @include tablet {

/*     width: 512px;
    height: 256px; */
  }
}
