.card {
  position: relative;

  &::before {
    position: absolute;
    top: -25px;
    left: -20px;
    content: "";
    height: 1px;
    width: 100vw;
    background-color: #E5E5E5;
  }

  @include tablet {

    &::before {
      content: none;
    }
  }

  &--big {
    @include tablet {
      grid-column: 1 / 3;
    }

    @include desktop {
      grid-column: 1 / 4;
    }
  }
}
