.copyright__link {
  display: flex;
  align-items: center;
}


.copyright {
  padding: 25px 14px 25px 14px;
  display: flex;
  align-items: center;

  @include tablet {
    padding: 25px 0;
  }
}

.copyright__text {
  font-weight: 400;
  margin-right: 12px;
  color: #000000;
}
