.greetings {
  min-height: 158px;
  width: 100%;
  padding: 88px 0;

  position: relative;
  background-image: url(../img/back-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.greetings__text {
margin: auto;
}
