.greetings {
  position: relative;
  min-height: 158px;
  width: 100%;
  padding: 88px 0;

  background-image: url(../img/back-mobile.jpg);
  background-repeat: no-repeat;
  background-color: #25343f;
  background-position: center;
  background-size: cover;

  &--alt {
    padding: 53px 0;
    background-position: bottom;

    @include tablet {
      padding: 95px 0 91px;
    }

    @include desktop {
      padding: 102px 0 91px;
    }
  }

  &--index {
    @include tablet {
      padding: 77px 0 91px;
    }
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @include tablet {
    min-height: 290px;

    background-image: url("../img/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @include desktop {
    min-height: 300px;
    background-image: url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }

  &::after {
    content: "";

    position: absolute;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 57px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1200' height='57' fill='none'%3E%3Cpath fill='%23fff' d='M249.6 23.7 0 0v57h600L249.6 0v23.7ZM950.4 23.7V0L600 57h599.9V0L950.4 23.7Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.greetings__text {
  margin: 0 auto;

  @include tablet {
    width: 460px;
    height: 350px;
  }

  &--short {
    margin: 0 auto;

    @include tablet {
      width: 457px;
      height: 78px;
      margin: 0 auto;
    }

    @include desktop {
      width: 460px;
      height: 80px;
    }
  }
}

