.impression {
  width: 100%;
  margin: 0 auto;
}

.impression .impression__title {
  display: block;
  padding: 12px 0 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 3px 0 0;
  }
}

.impression__comment {
  height: 150px;
  min-width: 280px;

  padding: 15px;
  margin-top: 24px;
  resize: none;

  @media (min-width: $tablet-width) {
    min-width: 648px;
    height: 160px;

    padding: 20px 15px;
    margin-top: 23px;
  }

  @media (min-width: $desktop-width) {
    min-width: 768px;
  }
}

.impression__wrapper {
  min-width: 280px;

  padding: 15px;
  margin-top: 24px;

  resize: none;

  @media (min-width: $tablet-width) {
    min-width: 648px;
    padding: 20px 15px;
    margin-top: 23px;
  }

  @media (min-width: $desktop-width) {
    min-width: 768px;
  }
}
