.intro {
  padding: 32px 30px;
  margin: 0 auto;
  max-width: 484px;

  @include tablet {
    padding: 48px 0;
    margin-bottom: 9px;
  }

  @include desktop {
    padding: 60px 0 45px;
    margin-bottom: 0;
  }

  @include flex-center(column);
}

.intro__title {
 margin-bottom: 35px;
 color: #000;

 font-size: 18px;
 line-height: 26px;

 @include tablet {
  margin: 0 0 28px;
  font-size: 21px;
  line-height: 26px;

}
}
