
.main-header {
  min-height: 56px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  display: flex;
  flex-direction: column;

  &--nojs {
    padding-top: 100px;

    @include tablet {
      padding-top: 0;
    }
  }
}
