
.main-footer__container {
  margin: 0 auto;
  @media (min-width: $tablet-width) {
    margin: 36px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  @media (min-width: $desktop-width) {
    margin: 36px 120px;
  }
}

.main-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.copyright__text {
  color: #000000;
}

