
.main-footer__container {
  padding: 20px 83px;

  @include tablet {
    padding: 22px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include desktop {
    padding: 20px 120px;
  }
}

.main-footer__hashtag {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
