.main-nav {
  min-width: 320px;
  position: relative;
  z-index: 4;
}

.main-nav__wrapper {
  background-color: #81b3d2;

  @include tablet {
    background-color: #ffffff;
  }
}

.main-nav--closed .main-nav__wrapper {
  display: none;

  @include tablet {
    display: block;
  }
}

.main-nav--closed .main-nav__wrapper,
.main-nav--opened .main-nav__wrapper {
  position: absolute;
  width: 100%;

  @include tablet {
    position: static;
  }
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav__toggle {
  position: absolute;
  right: 18px;
  top: 18px;
  z-index: 2;
  display: block;
  width: 23px;
  height: 22px;
  background-color: #00000000;
  cursor: pointer;
  border: none;

  @include tablet {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -3px;
  width: 23px;
  height: 4px;
  background-color: #81b3b2;
  box-shadow: 0 8px 0 0 #81b3b2, 0 16px 0 0 #81b3b2;
}

.main-nav--opened .main-nav__toggle {
  &::before {
    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 22px;
    height: 22px;

    background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23 2.77477L20.0991 0L11.5 8.22522L2.9009 0L0 2.77477L8.5991 11L0 19.2252L2.9009 22L11.5 13.7748L20.0991 22L23 19.2252L14.4009 11L23 2.77477Z' fill='white'/%3E%3C/svg%3E");
    background-position: center;
  }
}

.main-nav__toggle:hover::before,
.main-nav__toggle:focus::before {
  opacity: 0.6;
}

.main-nav__toggle:active::before {
  opacity: 0.3;
}

.main-nav__list {
  @include clear-list;
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 20% 1fr 1fr;
  }
}

.main-nav__list .main-nav__item:nth-child(3) {
  @include tablet {
    grid-column: 4 / 5;
  }
}

.main-nav__list .main-nav__item:nth-child(7) {
  @include tablet {
    grid-column: 4 / 5;
  }
}

.main-nav__list .main-nav__item:last-child {
  position: relative;
}

.main-nav__list .main-nav__item:last-child::after {
  position: absolute;

  content: "";
  width: 100%;
  height: 7px;
  left: 0;
  bottom: 0;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );

  @include tablet {
    background: none;
  }
}

.main-nav__item {
  min-height: 56px;
  @include flex-center(row);
  box-shadow: 0 1px 0 (#01010133);

  @include tablet {
    box-shadow: none;
  }
}

.main-nav__link {
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  height: 56px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  @include flex-center(row);
  @include tablet {
    color: #000000;
  }
  &--current {
    @include tablet {
      color: #766357;
    }
  }
}

.main-nav__link:hover,
.main-nav__link:focus {
  background-color: #669ec0;

  @include tablet {
    background-color: transparent;

    color: #81b3d2;
  }
}

.main-nav__link:active {
  background-color: #5496bd;
  color: #ffffff4d;

  @include tablet {
    background-color: transparent;

    color: #3333334d;
  }
}
