.page-body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  box-shadow: 0 0 15px #00000033;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}
