.rating__label {
  text-transform: none;
  position: relative;

  margin-left: 16px;

  &::before {
    position: absolute;
    top: 12px;
    left: -60px;

    width: 46px;
    height: 46px;

    content: "";
    transform: translateY(-50%);

    border-radius: 50%;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.rating__label:hover::before,
.rating__input:focus + .rating__label::before {
  background-color: #e5e5e5;
}

.rating__label:active::before {
  background-color: #d5d5d5;
}

.rating__label:disabled::before {
  background-color: #e3e3e3;
}

.rating__input:checked + .rating__label::after {
  position: absolute;
  top: 12px;
  left: -45px;

  width: 16px;
  height: 16px;

  content: "";
  transform: translateY(-50%);

  border-radius: 50%;
  background-color: #333333;
}

.rating__input:checked + .rating__label:active::after {
  opacity: 0.3;
}

.rating__input:checked + .rating__label:disabled::after {
  opacity: 0.1;
}
