.rating {
  @include clear-list;
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.attractions {
  @include clear-list;
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
