.rating {
  @include clear-list;
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.attractions {
  @include clear-list;
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
