$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

@mixin flex-center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
