.video-presentation {
  min-height: 350px;
  margin: -27px 20px;

  @include tablet {
    margin: 60px 60px 38px;
  }

  @include desktop {
    margin: 61px 200px 82px;
  }
}

.video-presentation__wrapper {
  min-width: 280px;

  position: relative;

  &::after {
    position: absolute;

    content: "";
    width: 48px;
    height: 54px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='54' viewBox='0 0 48 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 27L0 54L2.42273e-06 0L48 27Z' fill='white' fill-opacity='0.7'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.video-presentation__title {
  margin: 0 0 30px;

  @include tablet {
    font-size: 30px;
    line-height: 26px;
  }
}


.video-presentation__description {
  margin: 0 10px 38px;

  @include tablet {
    margin: 0 97px 90px;
  }
  @include desktop{
    margin: 0 174px 90px;
  }
}


.video-clip__img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
