//михины и переменные
@import "mixins.scss";
@import "blocks/variables.scss";

//Global
@import "blocks/fonts.scss";
@import "common/global.scss";

//Blocks
@import "blocks/logo.scss";
@import "blocks/advantages.scss";
@import "blocks/attractions.scss";
@import "blocks/button.scss";
@import "blocks/description.scss";
@import "blocks/form-name.scss";
@import "blocks/form-name-block.scss";
@import "blocks/grade.scss";
@import "blocks/grade-wrapper.scss";
@import "blocks/greetings.scss";
@import "blocks/title.scss";
@import "blocks/hotel-search.scss";
@import "blocks/intro.scss";
@import "blocks/like-rating.scss";
@import "blocks/main-footer.scss";
@import "blocks/copyright.scss";
@import "blocks/main-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/map.scss";
@import "blocks/media-cards.scss";
@import "blocks/card.scss";
@import "blocks/media-content.scss";
@import "blocks/modal.scss";
@import "blocks/page-body.scss";
@import "blocks/rating.scss";
@import "blocks/reasons.scss";
@import "blocks/user-info.scss";
@import "blocks/socials.scss";
@import "blocks/video-presentation.scss";
@import "blocks/visually-hidden.scss";
